@model Online_Shop.Models.Order
@{
    ViewData["Title"] = "Thank You";
}

<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Thank You For Your Purchase</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End-->
<br />
<br />
<div style="display:flex; align-items:center; justify-content:center">
    <a class="button button-contactForm boxed-btn" asp-controller="Products" asp-action="Index">Back to Products</a>
    <a class="button button-contactForm boxed-btn" asp-controller="Home" asp-action="Index">Back to Home</a>
</div>
